
<div class="row">
  <div class="col-md-4">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
            <legend>Edit user</legend>
            <div class="form-group">
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :profile_name %>
              <%= f.input :organisation %>
              <%= f.input :email %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
              <%= f.button :submit, "Update", class: "btn btn-success" %>
            </div>
          </fieldset> 
    <% end %>

  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well"}) do |f| %>
      <%= devise_error_messages! %>
       <fieldset>
            <legend>Unhappy? - cancel my account</legend>
            <%= f.button :submit, "Cancel my account", class: "btn btn-warning", :data => { :confirm => "Are you sure?" }, :method => :delete %>
        </fieldset>
    <% end %>

    
  </div>
</div>

<%= link_to "Back", :back %>
