<div class="row">
  <div class="col-md-4">

      <%= simple_form_for(@contact, html: {class: "form-inline well"}, role: "form") do |f| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <%= f.input :name %>
          <%= f.input :category %>
          <%= f.input :area %>
          <%= f.input :phone %>
          <%= f.input :website %>
          <%= f.input :email %>
          <%= f.input :user_id, collection: User.all, label_method: :first_name %>
          <%= f.button :submit, class: "btn-success" %>
        </div>
  </div>
</div>
   

  

<% end %>
