<div class="page-header">
	<% @contacts.each_with_index do |contact, index| %>
		<% if index==0 %>
		<h1><%= contact.area %> Contacts </h1>		
		<% end %>
	<% end %>
</div>
<%= link_to "Add a new contact", new_contact_path, class: "btn btn-success", style: "margin-bottom:0px;" %>
<% @contacts.each do |contact| %>
	<div class="contactrow">
		<div class="row">
			<div class="contact col-md-10">  
				<strong>Name: <%= link_to contact.name + " (click to show contact)", contact, :target => '_blank'%> </strong>
				<% if contact.category %>
					<p>Category: <%= contact.category %>
				<% end %>
				<% if contact.email %>
					<p>Email: <%= contact.email %></p>
				<% end %>

				<% if contact.user == current_user %>
					<div class="meta">
						<span class="admin">
						    <%= link_to "Edit", edit_contact_path(contact) %>  |
						  
						    <%= link_to "Delete", contact, method: :delete, data: { confirm: "Are you sure you want to delete this contact?"} %>
						 </span>
					</div>
				<% end %>
			</div>

			
		</div>
	</div>
<% end %>