<!DOCTYPE html>
<html>
<head>
  <title>DAS Contacts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<a href="#" class="navbar-brand">Kogarah DAS</a>
		<ul class="nav navbar-nav">
			<li><%= link_to "All contacts", contacts_path %></li>
		</ul>

		
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li> <%= link_to current_user.full_name, edit_path %></li>
				<li><%= link_to "Log out", logout_path %></li>
			<% else %>
				<li><%= link_to "Register", register_path %></li>
				<li><%= link_to "Log in", login_path %></li>
			<% end %>


		</ul>
		
		
	</div>
</nav>

<div class="container">
	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>">
  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			<%= message %>
		</div>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
